$standart-size-index: 450px / 800px;

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

#game {
    border: 1px solid;
    width: 1200px;
    height: $standart-size-index * 1200px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);

    /* main container */
    #game_main_container {
        width: 100%;
        height: 100%;
        background-color: aliceblue;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 2;
        overflow: hidden;

        #defaultCanvases {            
            > * {
                width: 3000px;
                height: 3000px;
                position: absolute;
                background-color: transparent;

                &#sea {
                    background-color: #4682B4;
                }
            }

            #sea { z-index: 1; }
            #waves_left, #waves_right { z-index: 3; }
            #waves_right { display: none; }
            #iceberg_map_front { z-index: 6; } 
            #iceberg_map_back { z-index: 4; }
            #lights { z-index: 5; }
        }

        /* character */
        #main_character {
            overflow: hidden;
            position: absolute;
            width: 3000px;
            height: 3000px;
            z-index: 5;
            background-color: transparent;
            display: flex;
            flex-direction: column;

            #character_canvas{
                width: 100px;
                height: 81.25px;
                left: 150px;
                top: 100px;
                position: absolute;
            }
        }
    }

    #rain {
        overflow: hidden;
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 7;

        canvas{
            position: absolute;
            left: 0;
            top: 0;
            display: none;
            overflow: hidden;
        }

        #lightning {
            position: absolute;
            background-color: white;
            opacity: 0;
            width: 100%;
            height: 100%;
            overflow: hidden;

            &.start-lightning-animation { 
                animation: lightning 1s ease-in;
            }

            @keyframes lightning {
                0% { opacity: 0; }
                7% { opacity: 0.7; }
                10% { opacity: 0.5; }
                19% { opacity: 1; }
                27% { opacity: 0.8; }
                30% { opacity: 1; }
                33% { opacity: 1; }
                37% { opacity: 0.6; }
                40% { opacity: 1; }
                53% { opacity: 0.3; }
                56% { opacity: 0.5; }
                63% { opacity: 0.3; }
                66% { opacity: 0.5; }
                100% { opacity: 0; }    
            }
        }
    }

    #other_instructions {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 20;

        #fullScreenStart {
            position: absolute;
            left: 10px;
            bottom: 10px;
            z-index: 900;
        }
    
        /* on mobile */
        #on_mobile {
            position: absolute;
            width: 250px;
            height: 250px;
            z-index: 300;
            display: none;
            bottom: 0;
            left: 0;
        }
    
        #start {
            display: none;
        }
    
        #loading {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: 100;
            background-color: black;
            color: white;
        }
    
        #instructions {
            background-color: white;
            position: fixed;
            left: 0;
            top: 0;
            z-index: 20;
            align-items: center;
            justify-content: center;
            padding: 20px;
            width: 300px;
            min-height: 100px;
            max-height: 300px;
        }
    
        #text {
            text-align: center;
        }
    
        #timer {
            background-color: black;
            color: white;
            position: absolute;
            top: 0;
            right: 0;
            z-index: 10;
            padding: 5px 20px;
            display: none;
        }
    
        #lose_screen, #win_screen {
            display: none;
            justify-content: center;
            align-items: center;
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: 100;
            background-color: black;
            color: white;
        }
    
        #settings_bar {
            display: none;
            position: absolute;
            z-index: 30;
            width: 100%;
            height: 100%;
            background-color: rgba(211, 211, 211, 0.5);
            flex-direction: column;
            align-items: center;
            justify-content: center;
    
            #main-settings{
                z-index: 30;
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 20px;
            }
    
            #fps{
                width: 100%;
                z-index: 30;
                width: 100%;
                height: 100%;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 20px;
                display: none;
    
                .active-button{
                    background-color: green;
                    &:hover{
                        background-color: darkgreen;
                    }
                }
            }
    
            button {
                width: 70%;
                border: none;
                border-radius: 10px;
                height: 40px;
                background-color: rgb(0, 255, 0);
                transition: 0.5s background-color;
    
                &:hover {
                    background-color: green;
                }
            }
        }
    
        #pause_button_top_left {
            position: absolute;
            z-index: 30;
            right: 100px;
            top: 20px;
            border: none;
            border-radius: 10px;
            height: 40px;
            background-color: rgb(0, 255, 0);
            transition: 0.5s background-color;
    
            &:hover {
                background-color: green;
            }
        }
    }

    @media (max-width: 1920px) {
        width: 768px;
        height: $standart-size-index * 768px;
        font-size: 16px;
    }

    @media (max-width: 768px) {
        width: 480px;
        height: $standart-size-index * 480px;
        font-size: 14px;
    }

    @media (max-width: 480px) {
        width: 100%;
        height: $standart-size-index * 480px;
        font-size: 10px;
    }
}